body {
background-color: rgb(23, 25, 25);

}



.wrapper {
    width:70%;
    height:100%;
    display:flex;
    align-items:center;
    color:aliceblue;
    font-size: 40px;
    left:300px;
    top:65px;
    position:relative;
   }


   img{
  background-image: url(reflection.jpg);
    margin-top: 45px;
   margin-left: 500px;
   position:absolute;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
 
   }


.item{
    text-decoration: none;
display:flex;
align-items: center;
cursor: pointer;

}

.dot{

    height: 12px;
    min-width: 12px;
    background-color: #333;
    border-radius: 50%;
    margin: 10px;
    
}

.text{
color:rgb(7, 69, 55);
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-weight: 100;
text-transform: uppercase;
margin:4px;
font-size: 20px;
white-space: nowrap;
}
.text a
{
    text-decoration: none;}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 75;
    left: 300px;
    top: 378px;
    position: absolute;
color: brown;
}


 bout{ 
    img src="titlebout.png";
   left: 62px;
   margin-top: 120px;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
   position:fixed;
   }

 .about{
    width: 680px;
    margin-left: 300px;
    margin-top: 40px;
    position:relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@font-face{
    src: url(/fonts/Home_Kitchen_Sans.fcp);
    font-family:Home_Kitchen_Sans;
 }
