

   
    
    body {
        background-color:dimgray
      
    }

   

img {
    display: block;
    max-width: 100%;
}


@font-face{
    font-family:Shiplap;
            src:url(../Shiplap.otf);
}
h2 {
    color: rgb(7, 69, 55);
    text-decoration: none;
    font-family: Shiplap;
    text-transform: uppercase;
    font-size: 20px;
}
 


.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  overflow: hidden;
  height: 100vh;
}

.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gallery__img {
    margin-top: 12px;
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 75vh;
    object-fit: cover;
}

.lil-nav {
    margin-top: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lil-nav a {
    height: 175px;
    display: flex;
    margin-bottom: 10px;
}

.lil-nav__img {
    object-fit: cover;
    filter: saturate(0);
    transition: 0.3s ease all;
}

.lil-nav__img:hover {
    transform: scale(1.05);
    filter: saturate(1);
}



